/* A Free Design by Bryant Smith (bryantsmith.com) */



body {
    margin: 0;
    padding: 0;
    text-align: left;
    font-family: "Tahoma";
    font-size: 13px;
    color: #061C37;
    background: #014D5D url(img/background.png);
    background-repeat: repeat-x;
}

a{
    color: inherit;
    text-decoration: none;
}

* {
    margin: 0 auto 0 auto;
    text-align: left;
}

#page {
    display: block;
    height: auto;
    position: relative;
    overflow: hidden;
    width: 670px;
}

.topNaviagationLink {
    min-width: 150px;
    text-align: center;
    position: relative;
    margin-top: 30px;
    font-size: 16px;
    line-height: 35px;
    float: left;
    color: #043c7b;
    font-family: "Adobe Garamond Pro Bold", Georgia, "Times New Roman", Times, serif;
    background-color: #fff;
    padding: 5px;
    box-sizing: border-box;
}


    .topNaviagationLink a {
        text-decoration: none;
        color: #043c7b;
    }

        .topNaviagationLink a:hover {
            color: #000;
        }

#mainPicture {
    width: 670px;
    height: 345px;
    background-color: #FFFFFF;
}

#mainPicture {
    width: 670px;
    height: 345px;
    background-color: #FFFFFF;
}

    #mainPicture .picture {
        position: relative;
        width: 650px;
        height: 325px;
        top: 10px;
        background-repeat: no-repeat;
        margin-left: 10px;
        box-sizing: border-box;
    }

#coverImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#headerTitle {
    position: relative;
    top: 30px;
    left: 40px;
    font-size: 25px;
    color: #FFFFFF;
    font-family: "Adobe Garamond Pro Bold", Georgia, "Times New Roman", Times, serif;
}

#headerSubtext {
    position: relative;
    top: 30px;
    left: 50px;
    font-size: 14px;
    color: #A9C8FA;
    font-family: "Adobe Garamond Pro Bold", Georgia, "Times New Roman", Times, serif;
}

.contentBox {
    width: 670px;
    height: auto;
    background-color: #FFFFFF;
    margin-top: 10px;
}

.innerBox {
    min-height: 200px;
}

.contentBox .innerBox {
    position: relative;
    width: 650px;
    height: auto;
    background-repeat: repeat-x;
    padding-top: 10px;
    padding-bottom: 35px;
    padding-left: 10px;
    box-sizing: border-box;
    font-size: 16px;
}

.contentTitle {
    font-size: 25px;
    text-align: center;
    width: 75%;
    border-bottom: 2px solid #80bfff;
    margin-bottom: 20px;
}

.singleQuestion {
    width: 90%;
    font-size: 16px;
    margin-left: 0px;
    margin-top: 20px;
    padding-left: 10px;
}

.questionTitle {
    font-size: 17px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.questionTitle a:hover{
    text-decoration: underline;
}

.textArea {
    max-width: 550px;
    margin-top: 10px;
    margin-left: 5px;
    outline: none;
}

.submitButton {
    width: 80%;
    border-radius: 10px;
    background-color: #02446c;
    padding: 5px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    outline: none;
    border: 0;
}

    .submitButton:hover {
        background-color: #048ee1;
    }

.testListItem, .testInfo{
    width: 95%;
    margin: 20px 10px;
    padding: 5px;
    box-sizing: border-box;
    background-color: #9cc9fc;
}

.submitButtonDiv{
    margin-top: 20px;
    padding-top: 10px;
    border-top: 2px solid #ccc;
    width: 50%;
    text-align:center;
}

.testListItem:hover{
    background-color: #02446c;
    color: #fff;
}

.testListItem a:hover{
    text-decoration: underline;
}

.answerDiv, .normalAnswerOption, .correctAnswerDiv, .falseAnswerDiv{
    position: relative;
    width: 100%;
    min-height: 30px;
    line-height: 30px;
    background-color: #024866;
    margin-bottom: 5px;
    color: #fff;
    padding: 5px;
    padding-right: 20px;
    box-sizing: border-box;
}

.answerDiv{
    background-size: 200% 100%;
    background-image: linear-gradient(to right, #024866 50%, #9be0fd 50%);

    -webkit-transition: background-position 400ms;
    -moz-transition: background-position 400ms;
    transition: background-position 400ms;
}

.answerArrow{
    height:100%;
    position: absolute;
    top: 0;
    right: 0;
}

.correctAnswerDiv{
    background-color: green;
    color: #fff;
}

.falseAnswerDiv{
    background-color: red;
    color: #fff;
}

.notAnswered{
    color: red;
}

input[type="text"], input[type="number"], textarea{
    width: 60%;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #ccc;
    outline: none;
    margin-bottom: 5px;
}

input[type="number"]{
    width: 10%;
    text-align: center;
}

textarea{
    height: 100px;
}

input[type="text"]:focus, input[type="number"], textarea:focus{
    border: 1px solid #02446c;
}












#footer {
    width: 670px;
    height: 16px;
    background: url(img/footer.png) no-repeat;
    text-align: center;
    font-size: 9px;
    font-family: Arial, Helvetica, sans-serif;
    color: #386172;
    padding-top: 5px;
    margin-bottom: 200px;
}

    #footer a {
        text-decoration: none;
        font-size: 9px;
        color: #386172;
    }

html, body {
    text-align: center;
}

p {
    text-align: left;
}
